

body {
    background-image: url("../images/img1.jpg");
}

.header h1 {
    font-size: 22px;
    text-align: center;
    padding: 15px;
    background-color: #0078F2;
    color: white;
}

.main {
    text-align: center;
}

.main h2 {
    color: white;
}

.main img {
    width: 550px;
    margin: 20px;
}

.main p {
    
    font-size: 19px;
    line-height: 30px;
    margin: 0 auto;
    width: 600px;
    color: white;
}

.main span {
    font-weight: bold;
}

.reserva  {
    height: 100px;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    color: white;
}

.reserva a {
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}